<form [formGroup]="dataForm" (click)="onSubmit()">
  <h4>Filter countries</h4>
  <mat-form-field>
    <mat-label>Incoming Level</mat-label>
    <mat-select formControlName="level">
      <mat-option

        *ngFor="let level of levels"
        [value]="level.id">
        {{ level.value }}
      </mat-option>
    </mat-select>

  </mat-form-field>
  <mat-card-actions>
    <button
      mat-raised-button color="primary"
      type="button"
      (click)="onSubmit()">
      Enviar
  </button>
  </mat-card-actions>
</form>

