<form [formGroup]="dataForm" (click)="onSubmit()">
  <h4>Filter countries</h4>
  <mat-form-field>
    <mat-label>Incoming Level</mat-label>
    <mat-select formControlName="incomingLevel">
      <mat-option
        *ngFor="let incomingLevel of incomingLevels"
        [value]="incomingLevel.id">
        {{ incomingLevel.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-card-actions>
    <button
      mat-raised-button color="primary"
      type="button"
      (click)="onSubmit()">
      Enviar
  </button>
  </mat-card-actions>
</form>

